<div *ngIf = "hero"> 
    <h2>{{hero.name | uppercase}} Detalles</h2>

<div><span>id: </span>{{hero.id}}</div>
<div>
    <label for = "hero-name">Heroe Nombre: </label>
    <input id  = "hero-name" [(ngModel)]="hero.name" placeholder="name">

    <label for = "hero-edad">Edad del Heroe: </label>
    <input id  = "hero-edad" [(ngModel)]="hero.edad" placeholder="EDAD">

    <label for = "hero-poder">Poder del Herore: </label>
    <input id  = "hero-poder" [(ngModel)]="hero.poder" placeholder="PODER">
    
    <label for = "hero-identidad">Identidad del Herore: </label>
    <input id  = "hero-identidad" [(ngModel)]="hero.identidad" placeholder="IDENTIDAD">

    <label for = "hero-universo">Universo del Herore: </label>
    <input id  = "hero-universo" [(ngModel)]="hero.universo" placeholder="UNIVERSO">

    </div>
    </div>